* {
  box-sizing: border-box;
}

body {
  background-color: #f8f8ff;
}

.navbar-default, .jumbotron {
  background-color: #f8f8ff;
}

.navbar-default .navbar-nav>li>a {
  color: maroon;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: maroon;
}

.jumbotron {
  padding-left: 8em;
}

ul.homelinks, ul.contactlinks, ul.aboutlist {
  padding-left: 0;
}

ul.homelinks li, ul.contactlinks li, ul.aboutlist li {
  list-style-type: none;
  padding-bottom: 1em;
}

.portfolio {
  padding-left: 9em;
}

.page-detail {
  padding-left: 2em;
  padding-right: 2em;
}

.page-detail-photo {
  padding: 2em;
  width: 100%;
}

.back-to-button {
  margin-top: 3em;
  text-align: center;
}

#portfoliosearch {
  width: 300px;
}

/* background images*/
.home-page {
  background: #000 url("../img/tree-peter-hershey.jpg") center center;
}

.contact-page {
  background: #000 url("../img/bench-hal-trazo.jpg") center center;
}

.about-page {
  background: #000 url("../img/frog-ray-hennessy.jpg") center center;
}

.portfolio-page, .detail-page {
  background: #000 url("../img/vine-joel-peel.jpg") center center;
}
