* {
  box-sizing: border-box;
}

/* navbar styles */
.navbar-default, .navbar {
  background-color: hsl(201, 72%, 54%);
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: hsl(205, 87%, 40%);
  color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

a {
  text-decoration: none;
}

/*a:link, a:visited, a:hover, a:active {
  color: maroon;
}*/

/* page header styles */
.page-headline {
  font-size: 6em;
  color: hsl(205, 87%, 40%);
}

.page-paragraph {
  font-size: 2em;
}

ul.homelinks, ul.contactlinks, ul.aboutlist {
  padding-left: 0;
}

ul.homelinks li, ul.contactlinks li, ul.aboutlist li {
  list-style-type: none;
  padding-bottom: 1em;
  font-size: 1.25em;
}

ul.homelinks li a, ul.contactlinks li a, ul.aboutlist li a{
  color: hsl(201, 72%, 54%);
}

.page-detail {
  padding-left: 2em;
  padding-right: 2em;
}

.page-detail-photo {
  padding: 2em;
  width: 100%;
}

.button-container {
  margin-top: 3em;
  text-align: center;
}

.back-to-button {
  color: white;
  background-color: hsl(201, 72%, 54%);
}

#portfoliosearch {
  width: 300px;
}

/* background images*/
/*.home-page {
  background: #000 url("../img/tree-peter-hershey.jpg") center center;
}

.contact-page {
  background: #000 url("../img/bench-hal-trazo.jpg") center center;
}

.about-page {
  background: #000 url("../img/frog-ray-hennessy.jpg") center center;
}

.portfolio-page, .detail-page {
  background: #000 url("../img/vine-joel-peel.jpg") center center;
}*/
