<div class="jumbotron">
  <div class="container">
    <h1>Contact Me</h1>
    <ul class="contactlinks">
      <li>arkinjb at gmail dot com</li>
      <li><a ng-href="https://www.github.com/jaredarkin">Github</a></li>
      <li><a ng-href="https://twitter.com/_jaredarkin_">Twitter</a></li>
      <li><a ng-href="https://www.linkedin.com/in/jaredarkin">LinkedIn</a></li>
      <li><a ng-href="JaredArkinResume.pdf" target="_blank">Download My Resume</a></li>
    </ul>
  </div>
</div>

<div class="back-to-button">
  <a ui-sref="home" class="btn btn-sm btn-default" role="button">Back to Homepage</a>
</div>
