<div class="jumbotron">
  <div class="container">
    <h1>My Portfolio</h1>
    <p>Code that I've worked on, am working on, and will continue to work on.</p>
    <input
      type="text"
      id="portfoliosearch"
      placeholder="Search by skill (e.g. Angular, Rails, AWS)"
      ng-model="search">
  </div>
</div>

<div class="portfolio">
  <div ng-repeat="page in ctrl.allPages | filter: {skills: search}">
    <h3><a ui-sref="portfolio_detail({id: page.id })">{{ page.title }}<a/></h3>
    <p>Skills Used: {{ page.skills.join(", ") }}</p>
  </div>
</div>

<div class="back-to-button">
  <a ui-sref="home" class="btn btn-sm btn-default" role="button">Back to Homepage</a>
</div>
