<div class="jumbotron">
  <div class="container">
    <h1>My Portfolio</h1>
    <p>Code that I've worked on, am working on, and will work on.</p>
    <input
      type="text"
      id="portfoliosearch"
      placeholder="Search by skill (e.g. Angular, Rails, AWS)"
      ng-model="search">
  </div>
</div>

<div class="row">
  <div class="portfoliothumb col-md-6" ng-repeat="page in ctrl.allPages | filter: {skills: search}">
    <div class="thumbnail">
      <img ng-src="{{ page.photoUrl }}" alt="...">
      <div class="caption">
        <h3>{{ page.title }}</h3>
        <p>{{ page.description }}</p>
        <p>Skills: {{ page.skills.join(", ") }}</p>
        <p>
          <a ng-href="{{ page.url }}" class="btn btn-default" role="button">Website</a>
          <a ng-href="{{ page.github }}" class="btn btn-default" role="button">Github Repo</a>
        </p>
      </div>
    </div>
  </div>
</div>
